#main_header{
  position: relative;
  z-index: 0;
  background-image: url('../images/bg-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  height: 100vh;
  min-height: 800px;

  @media screen and (max-width: 992px){
    min-height: 768px;
  }

  @media screen and (max-width: 667px){
    min-height: 450px;
  }

  @media screen and (max-width: 375px){
    min-height: 400px;
    height: 80vh;
  }

  @media screen and (max-width: 320px){
    min-height: 400px;
    height: 100vh;
  }

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
  }
.navbar{
  padding: 50px 0 0;
  .navbar-brand{
    color: $w;
    font-size: 24px;
    font-weight: 500;
  }
  .navbar-toggler{
    border-color: $w;
    outline: 0;

  .fa{
    color: $w;

    }
  }

  .navbar-nav{
    li{
      display: inline-block;
      a{
        color: $w;
        font-size: 16px;
        display: block;
        padding: 10px 25px;
        font-weight: 500;
        opacity: 0.9;
        }
        .btn{
          background-color: $primary;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 0.8px;
          margin-left: 15px;
          }
        }
      }

      @media screen and (max-width: 992px){
            padding-top: 30px;
          .collapse.show,
          .collapsing{
            position: absolute;
            top: 95px;
            left: 0;
            width: 100%;
            text-align: center;
            background-color: $c-b;

            .navbar-nav{
              padding: 30px 0;
            }

            li{
              a{
                padding-top: 15px;
                padding-bottom: 15px;

                &:hover, &:active, &:focus{
                  background-color: rgb(99, 160, 180);
                }
              }
            }

            .btn{
              display: inline-block;
              margin-left: 0 !important;
              margin-top: 10px;
              padding-top: 10px;
              padding-bottom: 10px;
            }

          }
        }
      }
    // Navbar
    .hero_content{
      max-width: 650px;
      padding-top: 220px;
      p{
        font-size: 20px;
      }
      h1{
        color: $w;
        font-size: 58px;
        font-weight: 700;
        margin-bottom: 50px;
      }
      .btn{
        display: inline-block;
        padding: 10px 30px;
        color:$w;
        border: 1px solid $w;

        &:hover, &active, &focus{
            background-color: $w;
            color: $c-b;
        }
      }

      @media screen and(max-width: 667px){
        padding-top: 100px;

        p{
          font-size: 16px;
        }
        h1{
          font-size: 38px;
          margin-bottom: 30px
        }
      }
      @media screen and (max-width: 320px){
        h1{
          font-size: 32px;
          line-height: 1.3;
        }
        .btn{
          font-size: 14px;
        }
      }
  }
}
