#purchase{
  background-image: url("../images/image-8.jpg");
  background-size: cover;
  background-position: 50%;

  position: relative;
  padding: 150px 0;
  z-index: 0;
  text-align: center;

  &:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: -1;
  }

  .content{

    p{
      color: $w;
      font-size: 30px;
      margin: 0 auto;
      max-width: 760px;
      margin-bottom: 30px;
    }
    a{
      color: $w;
      border-radius: 5px;
      padding: 12px 30px;
      border: 1px solid $w;

      &:hover, &:active, &:focus{
        background-color: $w;
        color: $c_b;
      }
    }
  }
}
