#services{
  padding: 180px 0;
  text-align: center;

.list_services{
    margin-top: 80px;

    .content{
      border: 1px solid $c_ef;
      margin: 0 20px;
      border-radius: 5px;

      transition: all 0.35s ease-in-out;
      .icon{
        color: $primary;
        padding: 60px 0;
        font-size: 55px;

      }
      h4{
        color: $c_b;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p{
        padding: 0 25px;
        margin-bottom: 60px;
      }
      .fa-long-arrow-right{
        font-size: 26px;
        margin-bottom: 60px;
        opacity: 0.35;
      }
      &:hover, &:active &:focus{
        margin-top: -10px;
        border-color: rgba(0, 0, 0, 0.02);
        box-sizing: 5px 28px rgba(0, 0, 0, 0.08);

        .fa-long-arrow-right{
          color: $primary;
          opacity: 1;
        }
      }
    }
  }
    .btn_see_all{
      margin-top: 100px;
      border-radius: 5px;
      display: inline-block;
      padding: 12px 35px;
      color: $c_b;
      text-decoration: none;
      border: 1px solid $c_ef;

        &:hover, &:active &:focus{
          background-color: $primary;
          color: $w;
        }

    }
  }
