@import "variable";
@import "global";
@import "main_header";
@import "services";
@import "portofolio";
@import "about_us";
@import "purchase";
@import "our_pricing";
@import "our_team";
@import "testimonial";
@import "blog";
@import "client";
@import "footer";
